@font-face {
  font-family: "Uber Light";
  font-style: normal;
  font-weight: normal;
  src: local("Uber Light"), url("UberMoveTextLight.woff") format("woff");
}

@font-face {
  font-family: "Uber Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Uber Regular"), url("UberMoveTextRegular.woff") format("woff");
}

@font-face {
  font-family: "Uber Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Uber Medium"), url("UberMoveTextMedium.woff") format("woff");
}

@font-face {
  font-family: "Uber Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Uber Bold"), url("UberMoveTextBold.woff") format("woff");
}

@font-face {
  font-family: "Uber Move Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Uber Move Medium"), url("UberMoveMedium.woff") format("woff");
}

@font-face {
  font-family: "Uber Move Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Uber Move Bold"), url("UberMoveBold.woff") format("woff");
}
